@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    font-feature-settings: 'liga' 1, 'clig' 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header {
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    position: sticky;
    background-color: white;
    z-index: 1000;
}
.header-link-flex {
    margin-right: 20px;
}
.header-link {
    margin-left: 30px;
    font-size: 17px;
    font-weight: 400;
    color: black;
}
.logo {
    height: 32px;
    border-right: 1px solid #e7e7e7;
}
.footer {
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 30px 100px 30px;
    border-top: 1px solid #e7e7e7;
    position: relative;
    background-color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
.footer-logo {
    width: 50px;
    height: auto;
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px;
}
.footer-links a {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.swiss-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.swiss-text {
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 300;
}
.swiss-image {
    height: 16px;
    width: 16px;
    margin-left: 10px;
}
.dropdown {
    margin-right: 20px;
    font-size: 32px;
    display: none;
}
.dropdown-list {
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 73px;
    right: 0px;
    width: 200px;
    font-size: 17px;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 30px;
    height: 100vh;
    overflow: hidden;
}
.dropdown-icon {
    font-size: 32px;
    padding-top: 5px;
    border-top: 1px solid #e7e7e7;
    margin-top: 15px;
}
.dropdown-list .header-link {
    margin-left: 0;
    margin-bottom: 10px;
}
.dropdown-list .header-link:hover {
    color: #464ea1;
}
.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.article {
    width: 65vw;
    max-width: 700px;
}
.title-img {
    width: 100%;
    margin-top: 75px;
}
.title {
    font-size: 64px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
.auth {
    height: 80px;
    width: 80px;
    border-radius: 80px;
}
.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
}
.info p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 30px;
}

.art-header {
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 10px;
}
.text-container {
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 10px 30px 10px;
}
.sub-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 32px;
}
.article-text {
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 2;
}
.graphic {
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #e7e7e7;
}
.article-img {
    width: 100%;
}
.img-desc {
    font-weight: 300;
    font-size: 16px;
}
.focus {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 30px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.focus .sub-title {
    font-style: italic;
    font-weight: 400;
}
.focus .article-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.actions-container ion-icon {
    font-size: 24px;
    margin: 5px;
}
.action-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-type {
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-link {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.source-container {
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 10px 0 10px;
}
.source {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #464ea1;
    font-weight: 500;
    line-height: 1.5;
}
.book-container {
    width: 100%;
    padding: 20px 0 30px 0 ;
}
.book-display {
    width: 140px;
    height: 200px;
    background-color: #141b6b;
    color: white;
    font-family: "Playfair Display", serif;
    padding: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.book {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}
.buy {
    text-align: center;
    font-size: 18px;
}
.book-text {
    margin-left: 40px;
}
.book-desc {
    width: 400px;
    font-size: 18px;
    font-weight: 400;
}



.page-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.main-line {
    padding: 0 30px 30px 30px;
    margin-top: 50px;
    max-width: 1500px;
    border-bottom: 1px solid #e7e7e7;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border-top: 1px solid #e7e7e7;
}
.main-img {
    height: 250px;
    width: 100%;
    min-width: 220px;
    max-width: 350px;
    object-fit: cover;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
}
.post-text {
    min-width: 450px;
    max-width: 450px;
}
.main-title {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin: 0;
    font-style: italic;
}
.main-desc {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 15px;
}
.featured-title {
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin-top: 50px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}


.small-line {
    padding: 30px;
    margin-top: 10px;
    max-width: 1500px;
    border-bottom: 1px solid #e7e7e7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
}
.small-left {
    padding-right: 15px;
    border-right: 1px solid #e7e7e7;
}
.small-c-left {
    padding-right: 15px;
    border-right: 1px solid #e7e7e7;
    padding-left: 15px;
}
.small-c-right {
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #e7e7e7;
}
.small-right {
    padding-left: 15px;
}
.small-img {
    width: 100%;
    margin-bottom: 10px;
    height: 300px;
    object-fit: cover;
}
.small-title {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
}

.home-link {
    color: black;
    line-height: 1.4;
}
.article-data {
    font-size: 17px;
    color: #464ea1;
    font-weight: 500;
    margin-top: 7.5px;
}

@media (max-width: 1024px) {
    .main-left {
        margin-bottom: 50px;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 30px;
        padding-right: 0px;
        border-right: none;
    }
    .main-right {
        padding-left: 0px;
    }
    .small-line {
        grid-template-columns: 1fr 1fr;
    }
    .small-line .featured-title {
        grid-column: span 2; 
    }
    .small-c-left {
        padding-right: 0px;
        border-right: none;
    }
    .small-c-left, .small-left {
        margin-bottom: 30px;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .small-title {
        font-size: 22px;
    }
    .small-line {
        grid-template-columns: 1fr;
    }
    .small-line .featured-title {
        grid-column: span 1; 
    }
    .small-c-right {
        margin-bottom: 30px;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
        padding-left: 0px;
        border-right: none;
        padding-right: 0px;
    }
    .small-c-left {
        padding-left: 0px;
    }
    .small-right {
        padding-left: 0px;
    }
    .small-left {
        padding-right: 0px;
        border-right: none;
    }
    .small-img {
        height: 200px;
    }
    .header-link-flex {
        display: none;
    }
    .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
